@font-face {
    font-family: Shabnam;
    src: url('/assets/fonts/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: Shabnam;
    src: url('/assets/fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url('/assets/fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Nastaligh;
    src: url('/assets/fonts/nastaligh.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Billabong;
    src: url('/assets/fonts/billabong.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Yekan;
    src: url('/assets/fonts/Yekan.ttf') format('truetype');
    font-weight: normal;
}
body{
    font-family: Shabnam !important;
}
p{
    font-family: Shabnam !important;
}
.title{
    font-family: Yekan, serif !important;
}
